.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.listHeader {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.nextButton {
  background: transparent;
  border: 2px solid #adb5db;
  color: #adb5db;
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1.6rem;
  font-family: "Playfair Display", serif;
  justify-content: center;
}

.nextButton:hover {
  background-color: #adb5db;
  color: #1a1a1a;
}
